<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from www.truelancer.com/freelance-services by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Mar 2021 04:19:59 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="icon" href="https://static.truelancer.com/favicon.ico" type="image/ico" />
<link type="application/opensearchdescription+xml" rel="search" href="opensearch.xml" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Freelance Services | Best Freelance Services from top Professionals | Truelancer </title>
<meta name="description" content="Freelance Services from top freelance professionals, consultants, freelancers and contractors at Truelancer. " />

<link rel="publisher" href="https://plus.google.com/101435621975107603972" />


<meta property="fb:app_id" content="264752523692298">
<meta property="og:type" content="website" />
<meta property="og:title" content="Freelance Services | Best Freelance Services from top Professionals | Truelancer " />
<meta property="og:description" content=" Freelance Services from top freelance professionals, consultants, freelancers and contractors at Truelancer. " />
<meta property="og:url" content="freelance-services.html" />
<meta property="og:image" content="../static.truelancer.com/main-banner-1.jpg" />
<meta property="og:site_name" content="Truelancer.com" />

<meta name="p:domain_verify" content="03fbc761b38bddca8951f874e96b77ae" />
<meta name="google-site-verification" content="1g-uX6XD98hknt04MUUSxh1CPAzz8S870yBtTk2i1iY" />
<link href="freelance-services.html" rel="canonical" />
<link href="freelance-services4658.html?page=2" rel="next" />
<link rel="stylesheet" href="../cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="../cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

<link href="assets/tl-min/1f4224ed6c7725352684e57be64027036974.css?103" type="text/css" rel="stylesheet" />
<link href="assets/tl-min/b966bd3c9d59ccfd051a2be08336561e6974.css?103" type="text/css" rel="stylesheet" />


<script type="text/javascript" src="../cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="assets/tl-min/6bb6ae3d5253cab9241bcb18e57758006974.js?103" type="text/javascript"></script>
<script src="assets/tl-min/980542a880430a2942c7054b4acfa3c86974.js?103" type="text/javascript"></script>

<script async src="../pagead2.googlesyndication.com/pagead/js/f.txt"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-1115766564729514",
    enable_page_level_ads: true
  });
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=AW-830870545"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-830870545'); </script>
<script async src="../www.gstatic.com/firebasejs/4.0.0/firebase.js" onload="firebase_setupstart()"></script>
<script>
function firebase_setupstart(){
    // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBDyUUuN7cYQPTQIHC_cOYcymX3W0F5IOQ",
    authDomain: "aerial-tide-509.firebaseapp.com",
    projectId: "aerial-tide-509",
    messagingSenderId: "264658448910",
    appId: "1:264658448910:web:ca0fdbbb97bdc86423825f"
  };
  firebase.initializeApp(config);
    
    if(window.page == 'contest_page' || window.page == 'verify_contact' || window.page == 'job_page' || window.page == 'profile'){
        window.RecaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container',{'size': 'invisible'});
        RecaptchaVerifier.render();
    }
    
    const messaging = firebase.messaging();

   function requestPermission() {
    console.log('Requesting permission...');
    // [START request_permission]
    messaging.requestPermission()
    .then(function() {
      console.log('Notification permission granted.');
      // TODO(developer): Retrieve an Instance ID token for use with FCM.
      // [START_EXCLUDE]
      // In many cases once an app has been granted notification permission, it
      // should update its UI reflecting this.
      // [END_EXCLUDE]
    })
    .catch(function(err) {
      console.log('Unable to get permission to notify.', err);
    });
    // [END request_permission]
  }

 function requestToken() {
  // Get Instance ID token. Initially this makes a network call, once retrieved
  // subsequent calls to getToken will return from cache.
  messaging.getToken()
  .then(function(currentToken) {
    if (currentToken) {
      console.log('currentToken: '+currentToken);
      sendTokenToServer(currentToken);
      
    } else {
      // Show permission request.
      console.log('No Instance ID token available. Request permission to generate one.');

      setTokenSentToServer(false);
    }
  })
  .catch(function(err) {
    console.log('An error occurred while retrieving token. ', err);
    //showToken('Error retrieving Instance ID token. ', err);
     setTokenSentToServer(false);
  });
}


  // Callback fired if Instance ID token is updated.
messaging.onTokenRefresh(function() {
  messaging.getToken()
  .then(function(refreshedToken) {
    setTokenSentToServer(false);
    // Send Instance ID token to app server.
    console.log('refreshedToken: '+refreshedToken)
    sendTokenToServer(refreshedToken);
   
  })
  .catch(function(err) {
    console.log('Unable to retrieve refreshed token ', err);
  });
});
messaging.onMessage(function(payload) {
  console.log("Message received. ", payload);
});

requestPermission();
requestToken();


}

 function isTokenSentToServer() {
    return window.localStorage.getItem('sentToServer') == 1;
  }
function isTokenSentToServerWithUser() {
    luser = window.localStorage.getItem('luser');
    suser = window.sess_uid;
    if(suser > 0 && (luser == 1)) {
        return true;
    }
    else if(!(suser > 0) && (luser == 0)){
         return true;
    }
    else{
        return false;
    }
}

  function setTokenSentToServer(sent) {
    window.localStorage.setItem('sentToServer', sent ? 1 : 0);
    luser = window.sess_uid;
    window.localStorage.setItem('luser', luser ? 1 : 0);
  }
  function sendTokenToServer(currentToken) {

    if (!isTokenSentToServer() || !isTokenSentToServerWithUser()) {
        console.log('Sending token to server...');
        // TODO(developer): Send the current token to your server.
        $.ajax({
            url: window.base_url + '/ajax/firebase_registerToken',
            type: "POST",
            data: {token: currentToken},
            dataType: 'json',
            success: function(response) {
                console.log('request sent to server');
                setTokenSentToServer(true);
            }
        });
        setTokenSentToServer(true);
    } else {
      console.log('Token already sent to server so won\'t send it again ' +
          'unless it changes');
    }
  }




</script>

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NMP3H9F');</script>

<script>

      window.page = "listservices";
      window.referrer =  "";
    window.base_url = "index.html";
            window.sess_uid = "";
        window.sess_fname = "";
        window.sess_lname = "";  
        window.sess_displayname = "";    
        window.sess_uthumb = "";
        window.sess_uimage ="";
        window.sess_uprofile = "";
        window.userType = "";
        window.userCountry = "";
    
  window.sess_uslug = "";
  window.sess_fbid = "";

  window.fbAsyncInit = function() {
      FB.init({
        appId      : "264752523692298",
        status     : true,
        xfbml      : true,
        frictionlessRequests: true,
        version: 'v2.0',
      });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "../connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));


  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../www.google-analytics.com/analytics.js','ga');

  if(window.sess_uid.length){
    user_id = window.sess_uid;
    ga('create', 'UA-11990376-18', { 'userId': user_id });
  }else{
    ga('create', 'UA-11990376-18', 'truelancer.com');
  }
  ga('require', 'displayfeatures');
  ga('send', 'pageview');


(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '../connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
  _fbq.push(['addPixelId', '865422773478546']);
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', 'PixelInitialized', {}]);

</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=865422773478546&amp;ev=PixelInitialized" /></noscript>

<link rel="stylesheet" href="assets/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.min.css">
<script src="assets/jquery-ui/js/jquery-ui-1.10.4.custom.min.js"></script>
<script>
			/*** Handle jQuery plugin naming conflict between jQuery UI and Bootstrap ***/
				$.widget.bridge('uibutton', $.ui.button);
				$.widget.bridge('uitooltip', $.ui.tooltip);
		</script>

<link href="assets/tl-min/f98c00716a9acdf5ca7b78091bdcbf0c6974.css?103" type="text/css" rel="stylesheet" />
<script src="assets/tl-min/bf9f81290c83da0f03676660b5cc98616974.js?103" type="text/javascript"></script>
<script src="../cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="assets/scripts/jquery.mobile.custom.min.js"></script>
</head>
<body>
<header class="header_container container-fluid">

<script type="text/javascript">
      (function(b,r,a,n,c,h,_,s,d,k){if(!b[n]||!b[n]._q){for(;s<_.length;)c(h,_[s++]);d=r.createElement(a);d.async=1;d.src="../cdn.branch.io/branch-latest.min.js";k=r.getElementsByTagName(a)[0];k.parentNode.insertBefore(d,k);b[n]=h}})(window,document,"script","branch",function(b,r){b[r]=function(){b._q.push([r,arguments])}},{_q:[],_v:1},"addListener applyCode banner closeBanner creditHistory credits data deepview deepviewCta first getCode init link logout redeem referrals removeListener sendSMS setIdentity track validateCode".split(" "), 0);
      branch.init('key_live_oecQL1Hc7LeJup8p1vC7OnmnvueQbaYz');
      branch.banner({
      icon: 'https://static.truelancer.com/truelancer-app-icon-128.png',
      title: 'Truelancer App',
      description: 'Hire | Work | Collaborate',
      showiOS: false,
      showAndroid: true,
      showDesktop: false
      }, {});
    </script>

<style>
    .offer-nav{
         background-image: linear-gradient(to bottom,#85d27a 0,#85d27a 100%) !important;
    }
    .offer-nav .offer-detail{
        text-align: center;
        padding: 10px;
        color: #fff;
        font-size: 16px;
    }
@media (max-width: 767px) {
	#tlmenupanel {
		top:46px;
	}

	.tlsubmenu
	{
		background-color:#272121;
	}

	.nav-items {
		background-color: #3D3D3D;
		border: 0;
		margin-bottom: 0;
	}
   
}
color: #fff;
    padding: 5px;
    background-color: #f14141;
</style>

<div class="navbar navbar-default site-nav top-header" role="navigation">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
Menu
</button>
<a title="Truelancer is a On Demand Curated Freelance Marketplace" style="min-width: 175px;" class="navbar-brand" href="index.html">
<img class="site-logo" src="../static.truelancer.com/truelancer-logo1.png" />
<span class="logo-header">Truelancer</span>
</a>
</div>
<div class="navbar-collapse collapse nav-items">
<ul class="nav navbar-nav navbar-right">
<li class="nav-nohover"><a title="Post a Job to Hire Freelancer" href="post-project.html" class=""><span class="post-project-btn">Post Project</span></a></li>
<li class="dropdown hidden-xs">
<a href="freelance-contests.html" class="dropdown-toggle ">
<i title="Truelancer Contests" class="fa fa-trophy" style="font-size:18px;"></i>Contest</a>
<ul class="dropdown-menu list-items">
<li><a title="Post a Contest" href="contests.html">Post Contest</a></li>
<li><a title="Browse Contests" href="freelance-contests.html">Browse Contest</a></li>
</ul>
</li>
<li class="dropdown hidden-xs">
<a href="freelance-services.html" class="dropdown-toggle  active arrow-up ">
<i title="Buy Freelance Services" class="glyphicon glyphicon-shopping-cart fs18"></i>Buy Services</a>
<ul class="dropdown-menu list-items">
<li><a title="Post a service" href="freelance-services.html">Buy Services</a></li>
<li><a title="Post a service" href="post-service.html">Sell Service</a></li>
</ul>
</li>
<li class="dropdown">
<a title="Find Jobs" href="freelance-jobs.html" class=" dropdown-toggle ">
<i class="glyphicon glyphicon-briefcase fs18"></i>Find Jobs</a>
</li>
<li><a title="Find and Hire Freelancers" href="freelancers.html" class=" "><i class="glyphicon glyphicon-user fs18"></i>Find Freelancers</a></li>



<li><a href="login.html">Login</a></li>
<li style="margin-right: 5px;"><a title="Create a Free Account" href="signup.html">Signup</a></li>
</ul>
</div>
</div>
</div>
<script>
$(document).ready(function() {
	$('.nav li.dropdown').hover(function() {
		$(this).addClass('open');
	}, function() {
		$(this).removeClass('open');
	});
});
</script>
</header>
<div class="container">
<div id="feedback_basic" class="feedback_panel"></div>
</div>
<section class="content_pan">
<style>
 .arrow {
 	border-color: transparent;
    border-style: solid;
    display: block;
    height: 0;
    position: absolute;
    width: 0;
    border-top-width: 0;
    border-width : 10px;
    left: 20px;
	top: -20px;
    content: " ";
    margin-left: -10px;
   	border-bottom-color: #fff;
}

 .nav-pills > li.dropdown > a
{
    background-color: #e7e7e7;
}
 .nav-pills > li.dropdown > a:hover,
 .nav-pills > li.dropdown > a:focus
{
	background-color: #959494;
	color : #FFFFFF;
}
.service-category.nav > li > a {
 margin: 10px 3px;
    padding: 10px;
 }

.mega-menu .list-unstyled {
	min-width : 250px;
	padding-left : 20px;
}

.mega-menu ul.list-unstyled > li {
	padding : 6px;
}

@media(max-width:786px) {
	.mega-menu-navigation.nav > li::after {
		border : unset;
	}
	.mega-menu-navigation.nav > li {
		width : 100%;
	}
}
@media(min-width:786px)
{
	.open .dropdown-menu.mega-menu {
		display : flex;
	}

	.mega-menu > li > ul.list-unstyled {
		border-right : 1px solid #dddddd;
	}
	.mega-menu > li:last-child > ul.list-unstyled {
		border : unset;
	}

			.handle-filter {
			display : none;
		}
	}
</style>
<div class="container breadcrumbs bot-smspace" vocab="https://schema.org/" typeof="BreadcrumbList">
<span property="itemListElement" typeof="ListItem">
<a class="bhome" property="item" typeof="WebPage" href="index.html">
<span property="name">Home </span>
</a>
<meta property="position" content="1">
</span> »
<span>
Freelance Services
</span>
</div>
<div class="container joblist">
<h1 class="page_title"> Freelance Services </h1>
<ul class="service-category nav nav-pills mega-menu-navigation hidden-xs">
<li role="presentation" class="dropdown ">
<a class="dropdown-toggle" data-toggle="dropdown" href="it-programming-services.html" role="button" aria-haspopup="true" aria-expanded="false">
IT & Programming
</a>
<ul class="dropdown-menu list-inline mega-menu">
<div class="arrow"></div>
<li>
<ul class="list-unstyled">
<li><a href="application-interface-design-services.html">Application Interface Design</a></li>
<li><a href="desktop-applications-services.html">Desktop Applications</a></li>
<li><a href="ecommerce-services.html">Ecommerce</a></li>
<li><a href="game-development-services.html">Game Development</a></li>
<li><a href="web-development-services.html">Web Development</a></li>
<li><a href="scripts-utilities-services.html">Scripts & Utilities</a></li>
<li><a href="software-project-management-services.html">Software Project Management</a></li>
<li><a href="website-project-management-services.html">Website Project Management</a></li>
<li><a href="website-testing-services.html">Website Testing</a></li>
<li><a href="qa-testing-services.html">QA & Testing</a></li>
</ul>
</li>
<li>
<ul class="list-unstyled">
<li><a href="other-services.html">Other</a></li>
</ul>
</li>
</ul>
</li>
<li role="presentation" class="dropdown ">
<a class="dropdown-toggle" data-toggle="dropdown" href="graphic-design-multimedia-services.html" role="button" aria-haspopup="true" aria-expanded="false">
Graphic Design & Multimedia
</a>
<ul class="dropdown-menu list-inline mega-menu">
<div class="arrow"></div>
<li>
<ul class="list-unstyled">
<li><a href="website-design-services.html">Website Design</a></li>
<li><a href="ui-ux-design-services">UI & UX Design</a></li>
<li><a href="logo-design-services.html">Logo Design</a></li>
<li><a href="graphic-design-services.html">Graphic Design</a></li>
<li><a href="product-design-services.html">Product Design</a></li>
<li><a href="icons-design-services.html">Icons Design</a></li>
<li><a href="advertisement-design-services.html">Advertisement Design</a></li>
<li><a href="annual-reports-services.html">Annual Reports</a></li>
<li><a href="brochures-services.html">Brochures</a></li>
<li><a href="catalogs-services.html">Catalogs</a></li>
</ul>
</li>
<li>
<ul class="list-unstyled">
<li><a href="cover-page-design-services.html">Cover & Page Design</a></li>
<li><a href="direct-mail-pieces-services.html">Direct Mail Pieces</a></li>
<li><a href="displays-posters-services.html">Displays & Posters</a></li>
<li><a href="flash-presentations-services.html">Flash Presentations</a></li>
<li><a href="industrial-design-services.html">Industrial Design</a></li>
<li><a href="layout-desktop-publishing-services.html">Layout & Desktop Publishing</a></li>
<li><a href="brand-identity-packages-services.html">Brand Identity Packages</a></li>
<li><a href="multimedia-animation-services.html">Multimedia Animation</a></li>
<li><a href="packaging-design-services.html">Packaging Design</a></li>
<li><a href="photo-image-editing-services.html">Photo & Image Editing</a></li>
</ul>
</li>
<li>
<ul class="list-unstyled">
<li><a href="powerpoint-presentations-services.html">PowerPoint Presentations</a></li>
<li><a href="promotional-videos-services.html">Promotional Videos</a></li>
</ul>
</li>
</ul>
</li>
<li role="presentation" class="dropdown ">
<a class="dropdown-toggle" data-toggle="dropdown" href="writing-content-translation-services.html" role="button" aria-haspopup="true" aria-expanded="false">
Writing, Content & Translation
</a>
<ul class="dropdown-menu list-inline mega-menu">
<div class="arrow"></div>
<li>
<ul class="list-unstyled">
<li><a href="articles-blogs-services.html">Articles & Blogs</a></li>
<li><a href="press-releases-services.html">Press Releases</a></li>
<li><a href="copywriting-services.html">Copywriting</a></li>
<li><a href="translation-services.html">Translation</a></li>
<li><a href="editing-proofreading-services.html">Editing & Proofreading</a></li>
<li><a href="grants-proposals-services.html">Grants & Proposals</a></li>
<li><a href="newsletters-services.html">Newsletters</a></li>
<li><a href="reports-services.html">Reports</a></li>
<li><a href="reviews-feedbacks-services.html">Reviews & Feedbacks</a></li>
<li><a href="resumes-cover-letters-services.html">Resumes & Cover Letters</a></li>
</ul>
</li>
<li>
<ul class="list-unstyled">
<li><a href="sales-writing-services.html">Sales Writing</a></li>
<li><a href="screen-script-writing-services.html">Screen & Script Writing</a></li>
<li><a href="songs-poems-services.html">Songs & Poems</a></li>
<li><a href="speeches-services.html">Speeches</a></li>
<li><a href="technical-writing-services.html">Technical Writing</a></li>
<li><a href="user-guides-manuals-services.html">User Guides & Manuals</a></li>
<li><a href="transcription-services.html">Transcription</a></li>
<li><a href="research-survey-services.html">Research & Survey</a></li>
</ul>
</li>
</ul>
</li>
<li role="presentation" class="dropdown ">
<a class="dropdown-toggle" data-toggle="dropdown" href="data-entry-admin-services.html" role="button" aria-haspopup="true" aria-expanded="false">
Data Entry & Admin
</a>
<ul class="dropdown-menu list-inline mega-menu">
<div class="arrow"></div>
<li>
<ul class="list-unstyled">
<li><a href="article-submission-services.html">Article Submission</a></li>
<li><a href="bulk-mailing-services.html">Bulk Mailing</a></li>
<li><a href="data-entry-services.html">Data Entry</a></li>
<li><a href="data-processing-services.html">Data Processing</a></li>
<li><a href="desktop-support-services.html">Desktop Support</a></li>
<li><a href="email-response-handling-services.html">Email Response Handling</a></li>
<li><a href="event-planning-services.html">Event Planning</a></li>
<li><a href="excel-services.html">Excel</a></li>
<li><a href="fact-checking-services.html">Fact Checking</a></li>
<li><a href="hr-payroll-services.html">HR & Payroll</a></li>
</ul>
</li>
<li>
<ul class="list-unstyled">
<li><a href="office-management-services">Office Management</a></li>
<li><a href="personal-assistant-services">Personal Assistant</a></li>
<li><a href="travel-planning-services">Travel Planning</a></li>
<li><a href="video-upload-services.html">Video Upload</a></li>
<li><a href="virtual-assistant-services.html">Virtual Assistant</a></li>
<li><a href="web-research-services.html">Web Research</a></li>
</ul>
</li>
</ul>
</li>
<li role="presentation" class="dropdown ">
<a class="dropdown-toggle" data-toggle="dropdown" href="finance-accounting-services.html" role="button" aria-haspopup="true" aria-expanded="false">
Finance & Accounting
</a>
<ul class="dropdown-menu list-inline mega-menu">
<div class="arrow"></div>
<li>
<ul class="list-unstyled">
<li><a href="chartered-accountant-services.html">Chartered Accountant</a></li>
<li><a href="business-incorporation-services.html">Business Incorporation</a></li>
<li><a href="financial-planning-services.html">Financial Planning</a></li>
<li><a href="financial-reporting-services.html">Financial Reporting</a></li>
<li><a href="legal-assistance-services.html">Legal Assistance</a></li>
<li><a href="mergers-acquisitions-services.html">Mergers & Acquisitions</a></li>
<li><a href="raising-equity-capital-services.html">Raising Equity Capital</a></li>
<li><a href="raising-loan-capital-services.html">Raising Loan Capital</a></li>
<li><a href="income-tax-services-services.html">Income Tax Services</a></li>
<li><a href="venture-funding-services.html">Venture Funding</a></li>
</ul>
</li>
<li>
<ul class="list-unstyled">
<li><a href="annual-compliances--services">Annual compliances </a></li>
<li><a href="company-audit-services">Company Audit</a></li>
<li><a href="other-services.html">Other</a></li>
</ul>
</li>
</ul>
</li>
<li role="presentation" class="dropdown ">
<a class="dropdown-toggle" data-toggle="dropdown" href="sales-marketing-services.html" role="button" aria-haspopup="true" aria-expanded="false">
Sales & Marketing
</a>
<ul class="dropdown-menu list-inline mega-menu">
<div class="arrow"></div>
<li>
<ul class="list-unstyled">
<li><a href="ad-planning-buying-services.html">Ad Planning & Buying</a></li>
<li><a href="advertising-services.html">Advertising</a></li>
<li><a href="affiliate-marketing-services.html">Affiliate Marketing</a></li>
 <li><a href="branding-services.html">Branding</a></li>
<li><a href="bulk-marketing-services.html">Bulk Marketing</a></li>
<li><a href="business-plans-services.html">Business Plans</a></li>
<li><a href="classifieds-posting-services.html">Classifieds Posting</a></li>
<li><a href="email-marketing-services.html">Email Marketing</a></li>
<li><a href="internet-marketing-services.html">Internet Marketing</a></li>
<li><a href="google-adsense-services.html">Google Adsense</a></li>
</ul>
</li>
<li>
<ul class="list-unstyled">
<li><a href="leads-services.html">Leads</a></li>
<li><a href="marketing-services.html">Marketing</a></li>
<li><a href="market-research-services.html">Market Research</a></li>
<li><a href="sales-services.html">Sales</a></li>
<li><a href="telemarketing-services.html">Telemarketing</a></li>
<li><a href="viral-marketing-services.html">Viral Marketing</a></li>
<li><a href="smm--social-media-marketing-services.html">SMM - Social Media Marketing</a></li>
<li><a href="other-services.html">Other</a></li>
</ul>
</li>
</ul>
</li>
<li role="presentation" class="dropdown ">
<a class="dropdown-toggle" data-toggle="dropdown" href="customer-support-service-services.html" role="button" aria-haspopup="true" aria-expanded="false">
Customer Support & Service
</a>
<ul class="dropdown-menu list-inline mega-menu">
<div class="arrow"></div>
<li>
<ul class="list-unstyled">
<li><a href="customer-service-support-services.html">Customer Service & Support</a></li>
<li><a href="business-support-services.html">Business Support</a></li>
<li><a href="order-processing-services.html">Order Processing</a></li>
<li><a href="technical-support-services.html">Technical Support</a></li>
<li><a href="phone-support-services.html">Phone Support</a></li>
<li><a href="other-services.html">Other</a></li>
</ul>
</li>
</ul>
</li>
<li role="presentation" class="dropdown ">
<a class="dropdown-toggle" data-toggle="dropdown" href="social-media-seo-sem-services.html" role="button" aria-haspopup="true" aria-expanded="false">
Social Media, SEO & SEM
</a>
<ul class="dropdown-menu list-inline mega-menu">
<div class="arrow"></div>
<li>
<ul class="list-unstyled">
<li><a href="guest-post-pr-services.html">Guest Post & PR</a></li>
<li><a href="facebook-services.html">Facebook</a></li>
<li><a href="google-services.html">Google</a></li>
<li><a href="linkedin-services.html">Linkedin</a></li>
<li><a href="twitter-services.html">Twitter</a></li>
<li><a href="pinterest-services.html">Pinterest</a></li>
<li><a href="facebook-ads-services.html">Facebook Ads</a></li>
<li><a href="google-adword-services.html">Google Adword</a></li>
<li><a href="twitter-ads-services.html">Twitter Ads</a></li>
<li><a href="pinterest-ads-services.html">Pinterest Ads</a></li>
</ul>
</li>
<li>
<ul class="list-unstyled">
<li><a href="google-adword-services.html">Google Adword</a></li>
<li><a href="bing-ads-services.html">Bing Ads</a></li>
<li><a href="yahoo-ads-services.html">Yahoo Ads</a></li>
<li><a href="seo--search-engine-optimization-services.html">SEO - Search Engine Optimization</a></li>
<li><a href="sem--search-display-marketing-services.html">SEM - Search & Display Marketing</a></li>
<li><a href="other-services.html">Other</a></li>
<li><a href="youtube-services.html">YouTube</a></li>
</ul>
</li>
</ul>
</li>
<li role="presentation" class="dropdown ">
<a class="dropdown-toggle" data-toggle="dropdown" href="mobile-application-services.html" role="button" aria-haspopup="true" aria-expanded="false">
Mobile Application
</a>
<ul class="dropdown-menu list-inline mega-menu">
<div class="arrow"></div>
<li>
<ul class="list-unstyled">
<li><a href="android-services.html">Android</a></li>
<li><a href="ios-services.html">IOS</a></li>
<li><a href="ipad-services.html">IPAD</a></li>
<li><a href="iphone-services.html">IPHONE</a></li>
<li><a href="windows-phone-services.html">Windows Phone</a></li>
<li><a href="other-services.html">Other</a></li>
</ul>
</li>
</ul>
</li>
<li role="presentation" class="dropdown ">
<a class="dropdown-toggle" data-toggle="dropdown" href="others-services.html" role="button" aria-haspopup="true" aria-expanded="false">
Others
</a>
<ul class="dropdown-menu list-inline mega-menu">
<div class="arrow"></div>
<li>
<ul class="list-unstyled">
<li><a href="photography-services.html">Photography</a></li>
<li><a href="trainers-services.html">Trainers</a></li>
<li><a href="other-services.html">Other</a></li>
</ul>
</li>
</ul>
</li>
<li role="presentation" class="dropdown ">
<a class="dropdown-toggle" data-toggle="dropdown" href="music-audio-services.html" role="button" aria-haspopup="true" aria-expanded="false">
Music & Audio
</a>
<ul class="dropdown-menu list-inline mega-menu">
<div class="arrow"></div>
<li>
<ul class="list-unstyled">
<li><a href="narration-voice-over-services.html">Narration & Voice-Over</a></li>
<li><a href="audio-editing-mastering-services.html">Audio Editing & Mastering</a></li>
<li><a href="custom-songs-services.html">Custom Songs</a></li>
<li><a href="songwriting-services.html">Songwriting</a></li>
<li><a href="sound-effects-loops-services.html">Sound Effects & Loops</a></li>
<li><a href="music-lessons-services.html">Music Lessons</a></li>
<li><a href="jingles-services.html">Jingles</a></li>
<li><a href="voicemail-greetings-services.html">Voicemail Greetings</a></li>
<li><a href="other-services.html">Other</a></li>
</ul>
</li>
</ul>
</li>
<li role="presentation" class="dropdown">
<a class="dropdown-toggle" title="Paytm Force Ecommerce Services" href="paytm-force-services.html" role="button" aria-haspopup="true" aria-expanded="false">
Paytm Force Services
</a>
 </li>
</ul>
<div class="search_filter row tl_gap_top_10">
<input type="hidden" id="filter_category" name="category" value="">
<form role="search" method="GET" id="service_filters">
<div class="col-md-9 col-xs-12">
<div class="row  visible-xs-block hidden-sm hidden-md hidden-lg ">
<div class="col-xs-9">
<div class="input-group" onClick="panel(this);" data-panel-id="tlfilterpanel" data-panel-align="left">
<input readonly type="text" class="form-control" placeholder="title, description, skills" value="" style="padding:6px 6px;">
<div class="input-group-btn">
<div class="btn btn-orange" id="searchbutton"><i class="tl-icon-search"></i><span class="search_span">Search</span></div>
</div>
</div>
</div>
<div class="col-xs-3">
<a href="freelance-servicesb92a.html?view=grid" style="display:inline-block;margin-top:5px;"><span data-toggle="tooltip" data-placement="top" title="Grid View" class="glyphicon glyphicon-th" style="font-size: 21px;color: #879998;"></span></a>
<a href="freelance-servicesd1fd.html?view=list" style="display:inline-block;margin-top:5px;"><span data-toggle="tooltip" data-placement="top" title="List View" class="glyphicon glyphicon-th-list" style="font-size: 21px;color: #879998;"></span></a>
</div>
</div>
</div>
<div class="hidden-xs col-md-3 ">
<div class="hidden-xs input-group">
<input type="text" class="form-control" placeholder="Search" id="search" name="q" value="" style="padding:6px 6px;">
<div class="input-group-btn">
<button class="btn btn-orange" id="searchbutton" type="submit"><i class="tl-icon-search"></i><span class="search_span"></span></button>
</div>
</div>
</div>
</form>
</div>
<div class="hrrule tl_gap_top_10"></div>
<section class="row">
<div class="joblist_container tl_gap_top_20 ">
<div class="clearfix"></div>
<div class="jobbox">
<h4>Graphics & Design</h4>
<div class="col-md-3">
<div class="thumbnail">
<a href="logo-design-services.html">
<img src="assets/images/services/logodesign.png" alt="Logo Design">
<div>Logo Design</div>
</a>
</div>
</div>
<div class="col-md-3">
<div class="thumbnail">
<a href="brand-identity-packages-services.html">
<img src="assets/images/services/businesscardsstationary.png" alt="Business Cards & Stationary">
<div>Business Cards & Stationary</div>
</a>
</div>
</div>
<div class="col-md-3">
<div class="thumbnail">
<a href="brochures-services.html">
<img src="assets/images/services/flyersbrochures.png" alt="Flyers & Brochures">
<div>Flyers & Brochures</div>
</a>
</div>
</div>
<div class="col-md-3">
<div class="thumbnail">
<a href="packaging-design-services.html">
<img src="assets/images/services/packagingdesign.png" alt="Packaging Design">
<div>Packaging Design</div>
</a>
</div>
</div>
<div class="col-md-3">
<div class="thumbnail">
<a href="ui-ux-design-services">
<img src="assets/images/services/UIUXdesign.png" alt="UI /UX Design">
<div>UI /UX Design</div>
</a>
</div>
</div>
<div class="col-md-3">
<div class="thumbnail">
<a href="photo-image-editing-services.html">
<img src="assets/images/services/photoediting.png" alt="Photo & Image Editing">
<div>Photo & Image Editing</div>
</a>
</div>
</div>
<div class="col-md-3">
<div class="thumbnail">
<a href="product-design-services.html">
<img src="assets/images/services/productdesign.png" alt="Product Design">
 <div>Product Design</div>
</a>
</div>
</div>
<div class="col-md-3">
<div class="thumbnail">
<a href="industrial-design-services.html">
<img src="assets/images/services/industrialdesign.png" alt="Industrial Design">
<div>Industrial Design</div>
</a>
</div>
</div>
<h4>Writing & Translation</h4>
<div class="col-md-3">
<div class="thumbnail">
<a href="articles-blogs-services.html">
<img src="assets/images/services/articlesblogposts.png" alt="Articles & Blog Posts">
<div>Articles & Blog Posts</div>
</a>
</div>
</div>
<div class="col-md-3">
<div class="thumbnail">
<a href="translation-services.html">
<img src="assets/images/services/translation.png" alt="Translation">
<div>Translation</div>
</a>
</div>
</div>
<div class="col-md-3">
<div class="thumbnail">
<a href="transcription-services.html">
<img src="assets/images/services/transcription.png" alt="Transcription">
<div>Transcription</div>
</a>
</div>
</div>
<div class="col-md-3">
<div class="thumbnail">
<a href="resumes-cover-letters-services.html">
<img src="assets/images/services/resume.png" alt="Resumes & Cover Letters">
<div>Resumes & Cover Letters</div>
</a>
</div>
</div>
<h4>Digital Marketing</h4>
<div class="col-md-3">
<div class="thumbnail">
<a href="seo--search-engine-optimization-services.html">
<img src="assets/images/services/seo.png" alt="SEO">
<div>SEO</div>
</a>
</div>
</div>
<div class="col-md-3">
<div class="thumbnail">
<a href="sem--search-display-marketing-services.html">
<img src="assets/images/services/search-display-network.png" alt="Search & Display Marketing">
<div>Search & Display Marketing</div>
</a>
</div>
</div>
<div class="col-md-3">
<div class="thumbnail">
<a href="youtube-services.html">
<img src="assets/images/services/videomarketing.png" alt="Video & Youtube Marketing">
<div>Video & Youtube Marketing</div>
</a>
</div>
</div>
<div class="col-md-3">
<div class="thumbnail">
<a href="email-marketing-services.html">
<img src="assets/images/services/emailmarketing.png" alt="Email Marketing">
<div>Email Marketing</div>
</a>
</div>
</div>
<div class="col-md-3">
<div class="thumbnail">
<a href="smm--social-media-marketing-services.html">
<img src="assets/images/services/socialmediamarketing.png" alt="Social Media Marketing">
<div>Social Media Marketing</div>
</a>
</div>
</div>
<div class="col-md-3">
<div class="thumbnail">
<a href="classifieds-posting-services.html">
<img src="assets/images/services/locallisting.png" alt="Local Listings">
<div>Local Listings</div>
</a>
</div>
</div>
<div class="col-md-3">
<div class="thumbnail">
<a href="guest-post-pr-services.html">
<img src="assets/images/services/guestpost.png" alt="Guest Post and PR">
<div>Guest Post and PR</div>
</a>
</div>
</div>
<div class="col-md-3">
<div class="thumbnail">
<a href="leads-services.html">
<img src="assets/images/services/leadgeneration.png" alt="Lead Generation">
<div>Lead Generation</div>
</a>
</div>
</div>
<h4>Video,Animation & Audio</h4>
<div class="col-md-3">
<div class="thumbnail">
<a href="multimedia-animation-services.html">
<img src="assets/images/services/explainer-video.png" alt="Whiteboard & Animated Explainers">
<div>Whiteboard & Animated Explainers</div>
</a>
</div>
</div>
<div class="col-md-3">
<div class="thumbnail">
<a href="promotional-videos-services.html">
<img src="assets/images/services/promotionalvideo.png" alt="Promotional Videos">
<div>Promotional Videos</div>
</a>
</div>
</div>
<div class="col-md-3">
<div class="thumbnail">
<a href="narration-voice-over-services.html">
<img src="assets/images/services/voiceover.png" alt="Voice Over">
<div>Voice Over</div>
</a>
</div>
</div>
</div>
</div>
<div id="tlfilterpanel" class="col-md-3  joblist_filterpanel tlpanel tlpanel-left handle-filter">
<div class="hidden-xs panel panel-ads panel-default tl_gap_top_20">
<div class="panel-body text-center" style="background-position: center center; background-repeat: no-repeat; height: 325px; background-image:url(assets/images/shopbag.png);">
<h3>Start earning</h3>
<h4>sell your own service</h4>
<a style="margin-top: 150px;" class="btn btn-primary" href="post-servicee65f.html?via=buyservices">Sell service, Now</a>
</div>
</div>
<section class="row bg_grey visible-xs-block hidden-sm hidden-md hidden-lg">
<div class="col-xs-12 heading-filters padding0"><span>Filters</span>
<i class="fa fa-sliders pull-right hidden-xs"></i>
<i class="glyphicon glyphicon-chevron-left pull-right hidden-sm hidden-md hidden-lg visible-xs-block" onClick="closePanel();"></i>
</div>
<div class="joblist_right col-xs-12 bg_grey">
<form role="search" method="GET" class="visible-xs-block hidden-sm hidden-md hidden-lg tl_gap_top_10">
<input type="hidden" id="filter_category" name="category" value="">
<div class="filter-section filter_category">
<h1 class="page_title"> Freelance Service Package </h1>
<div class="input-group">
<input type="text" class="form-control" placeholder="Search by title, description, skills" id="search" name="q" value="" style="padding:6px 6px;">
<div class="input-group-btn">
<button class="btn btn-orange" id="searchbutton" type="submit"><i class="tl-icon-search"></i><span class="search_span">Search</span></button>
</div>
</div>
</div>
</div>
</form>
<div class="filter-section filter_budget">
<h2>Budget</h2>
<ul>
<li>
<p>
<label for="amount">Price range:</label>
<span id="amount" class="fw-bold"></span>
</p>
<div id="price-slider-range" style="margin: 0 20px 0 5px;"></div>
</li>
</ul>
</div>
</div>
</section>
</div>
</section>
</div>
<span id="currency" data-currency="USD"><div class="fa fa-usd"></div></span>
<input type="hidden" id="minimum" value="0">
<input type="hidden" id="maximum" value="">
<style type="text/css">
.tl_getstarted_model .signup_container{
	display: block;
}
.tl_getstarted_model .signin_container{
	display: none;
}
.tl_getstarted_model .login_box{
	margin: 0px auto;
}
.tl_getstarted_model .modal-body {
   padding: 0px;
}
.tl_getstarted_model .modal-content{
	    display: inline;
}
.login_box,.noaccount{
	max-width: 600px;
	overflow: hidden;
}
.heading {
    background: #f85f64;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1.5em;
  }
.tl_inline{
	display: inline-block;
    float: left;
}
.tl_inline input{
	width:95%;
	padding: 6px 10px;
}
#signupForm{
	margin-top: 5px;
}
#signupForm .form-group {
    margin-bottom: 5px;
}
.tl_loginsignup_title{
	color: #fff;
    font-family: Arial;
    padding-top: 30px;
}
.tl_getstarted_model .modal-content{
	border: 0px solid #999;
}
@media  screen and (max-height: 575px){
#rc-imageselect, .g-recaptcha {transform:scale(0.83);-webkit-transform:scale(0.83);transform-origin:0 0;-webkit-transform-origin:0 0;}
}
</style>
<script src='../www.google.com/recaptcha/api.js'></script>
<button id="loginmodel" class="btn btn-primary hidden" data-toggle="modal" data-target="#myModal">
login
</button>

<div class="tl_getstarted_model modal fade" id="myModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-body">

<h1 class="tl_loginsignup_title">Create a Free Account</h1>
<div class="signin_container">
<section class="login_box tlpanel-success">
<div class="col-md-6">
<form id="loginForm" method="post" action="https://www.truelancer.com/ajax/login">
<div class="loginrow">
<div class="form-group">
<label for="exampleInputEmail1">Email</label>
<input type="email" class="form-control" name="email" placeholder="Enter email" data-validation="required" data-validation-error-msg="Please enter email">
</div>
<div class="form-group">
<label for="exampleInputEmail1">Password</label>
<input type="password" class="form-control" name="password" placeholder="Enter password" data-validation="required" data-validation-error-msg="Please enter password">
</div>
<div class="form-group forgotpassword" style="margin-bottom: 15px;">
<a href="forgot_password.html" title="Forgot Password | Truelancer">Forgot Password?</a>
</div>
<div class="form-group tcenter">
<button id="login" type="submit" class="btn btn-orange ladda-button" data-style="expand-left">&nbsp;&nbsp;&nbsp;Log In&nbsp;&nbsp;&nbsp;</button>
</div>
</div>
</form>
</div>
<div class="col-md-6">
<div class="login_facebook loginrow">
<a href="https://www.facebook.com/dialog/oauth?type=web_server&amp;client_id=264752523692298&amp;redirect_uri=https%3A%2F%2Fwww.truelancer.com%2Fsc%2Ffacebook%3Fpopup%3D1&amp;response_type=code&amp;scope=email&amp;state=f333e945a9882e98b971e09a44fdd492" target="_blank">
<span><img src="../static.truelancer.com/icon_facebook.png" /></span>
<span class="login_text">Login with Facebook</span>
</a>
</div>
<div class="login_google loginrow">
<a href="https://accounts.google.com/o/oauth2/auth?access_type=online&amp;type=web_server&amp;client_id=264658448910-5bh4ucpv2mp5guvtp4dq9i76gnf699op.apps.googleusercontent.com&amp;redirect_uri=https%3A%2F%2Fwww.truelancer.com%2Fsc%2Fgoogle%3Fpopup%3D1&amp;response_type=code&amp;scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile&amp;state=a10b97d96ddd90b079b63e8fbfe711e4" target="_blank">
<span><img src="../static.truelancer.com/icon_google.png" /></span>
<span class="login_text">Login with Google</span>
</a>
</div>
<div class="login_linkedin loginrow">
<a href="https://www.linkedin.com/oauth/v2/authorization?state=DCEEFWF45453sdffef424&amp;type=web_server&amp;client_id=75bk67sc4ja2ea&amp;redirect_uri=https%3A%2F%2Fwww.truelancer.com%2Fsc%2Flinkedin%3Fpopup%3D1&amp;response_type=code&amp;scope=r_emailaddress+r_liteprofile" target="_blank">
<span><img src="../static.truelancer.com/icon_linkedin.png" /></span>
<span class="login_text">Login with LinkedIn</span>
</a>
</div>
<div class="loginrow staticwarning">
By clicking Log In, Facebook,Google or LinkedIn you agree to our T&C's
</div>
</div>
</section>
<section class="noaccount">
Don’t have an account? <a href="signup.html" id="showsignup" class="orange-color" title="Register on Truelancer | Truelancer"><b>Sign Up</b></a>
</section>
</div>


<div class="signup_container">
<section class="login_box tlpanel-success">
<div class="col-md-6">
<div class="loginrow">
<form id="signupForm" method="post" action="https://www.truelancer.com/ajax/signup">
<input type="hidden" name="_token" value="IMOVSoIhfCGqmf0xZryIal2TVJYCDR4BmMfcCI1r">
<div class="form-group">
<label for="exampleInputEmail1">First Name</label>
<input type="text" class="form-control" name="fname" placeholder="enter first name" data-validation="required" data-validation-error-msg="Please enter your first name">
</div>
<div class="form-group">
<label for="exampleInputEmail1">Last Name</label>
<input type="text" class="form-control" name="lname" placeholder="enter last name" data-validation="required" data-validation-error-msg="Please enter your last name">
</div>
<div class="form-group">
<label for="exampleInputEmail1">Email</label>
<input type="email" class="form-control" name="email" placeholder="enter email" data-validation="email" data-validation-error-msg="Please enter email">
</div>
<div class="form-group">
<label for="exampleInputpassword">Password</label>
<input type="password" class="form-control" placeholder="type password" name="password" value="" data-validation="length" data-validation-length="6-20" data-validation-error-msg="Please enter password between 6-20 characters.">
</div>
<div class="form-group">
Please check below to verify
<div class="g-recaptcha" data-theme="light" data-sitekey="6LcXtgUTAAAAAI_5pm2C2c8IueyVd7UbsjEg3xzW" style="transform:scale(0.83);-webkit-transform:scale(0.83);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
</div>
<div class="form-group tcenter">
<button id="singup" type="submit" class="btn btn-orange ladda-button" data-style="expand-left">&nbsp;&nbsp;&nbsp;Sign Up&nbsp;&nbsp;&nbsp;</button>
</div>
</form>
</div>
</div>
<div class="col-md-6">
<div class="login_facebook loginrow">
<a href="https://www.facebook.com/dialog/oauth?type=web_server&amp;client_id=264752523692298&amp;redirect_uri=https%3A%2F%2Fwww.truelancer.com%2Fsc%2Ffacebook%3Fpopup%3D1&amp;response_type=code&amp;scope=email&amp;state=6ca3c4ad98424217dab5005353607be1" target="_blank">
<span><img src="../static.truelancer.com/icon_facebook.png" /></span>
<span class="login_text">Sign up with Facebook</span>
</a>
</div>
<div class="login_google loginrow">
<a href="https://accounts.google.com/o/oauth2/auth?access_type=online&amp;type=web_server&amp;client_id=264658448910-5bh4ucpv2mp5guvtp4dq9i76gnf699op.apps.googleusercontent.com&amp;redirect_uri=https%3A%2F%2Fwww.truelancer.com%2Fsc%2Fgoogle%3Fpopup%3D1&amp;response_type=code&amp;scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile&amp;state=5de4c83e12128c942c7b38329ce36149" target="_blank">
<span><img src="../static.truelancer.com/icon_google.png" /></span>
<span class="login_text">Sign up with Google</span>
</a>
</div>
<div class="login_linkedin loginrow">
<a href="https://www.linkedin.com/oauth/v2/authorization?state=DCEEFWF45453sdffef424&amp;type=web_server&amp;client_id=75bk67sc4ja2ea&amp;redirect_uri=https%3A%2F%2Fwww.truelancer.com%2Fsc%2Flinkedin%3Fpopup%3D1&amp;response_type=code&amp;scope=r_emailaddress+r_liteprofile" target="_blank">
<span><img src="../static.truelancer.com/icon_linkedin.png" /></span>
<span class="login_text">Sign up with LinkedIn</span>
</a>
</div>
<div class="loginrow staticwarning">
By clicking Sign up, Facebook,Google or LinkedIn you agree to our T&C's
</div>
</div>
</section>
<section class="noaccount">
Already have an account? <a href="login.html" class="orange-color" id="showsignin" title="Login on Truelancer | Truelancer"><b>Log In</b></a>
</section>
</div>

<script>
	function showSignup(){
		$('.signin_container').hide();
		$('.signup_container').show();
		$('.tl_loginsignup_title').text('Create a Free Account');
	}
	function showSignin(){
		$('.signup_container').hide();
		$('.signin_container').show();
		$('.tl_loginsignup_title').text('Welcome back, Sign-in to your Account');
		
	}
	$(document).ready(function(){
		$('#showsignup').on('click',function(event){
			event.preventDefault();
			showSignup();
		});
		$('#showsignin').on('click',function(event){
			event.preventDefault();
			showSignin();
		});
		$.validate({
		  	form : '#signupForm',
		    onSuccess : function() {
		    	var l = Ladda.create( document.querySelector( '#singup' ) );
		    	l.start();
		    	var options = { 
		    	complete : function(){
		    			l.stop();
		    		},
		    	success:    function(response) { 
		    		l.stop();
				    	if(response.status == 1){
				    		window.location.href = response.url;
				    	}else{
				    		alert(response.message);
				    	}
				         
				    } 
				};
		      $('#signupForm').ajaxSubmit(options);
		      return false; // Will stop the submission of the form
		    }
		});
		$.validate({
		  	form : '#loginForm',
		    onSuccess : function() {
		    	var l = Ladda.create( document.querySelector( '#login' ) );
		    	l.start();
		    	var options = { 
		    	complete : function(){
		    			l.stop();
		    		},
		    	success:    function(response) { 
		    			l.stop();
				    	if(response.status == 1){
				    		window.location.reload();
				    	}else{
				    		alert(response.message);
				    	}
				         
				    } 
				};
		      $('#loginForm').ajaxSubmit(options);
		      return false; // Will stop the submission of the form
		    }
		});
	});
	</script>

</div>
</div>
</div>
</div><script>
 $(document).ready(function(){

$(document).on('mouseover', '.dropdown', function()
	{
		var obj = $('.dropdown-menu.list-inline.mega-menu:visible');

		if( $(obj).width() < window.innerWidth)
		{
			if( $(obj).offset().left+$(obj).width() > window.innerWidth)
			{
			  var test = $(obj).offset().left+$(obj).width() - window.innerWidth;
			  $(obj).css('margin-left', -(test+100));
			  $(obj).children('.arrow').css('left',(test+120));
			}
		}
	});


 	$('input[name="sort"]').on('change',function(){
 		$('#service_filters').submit();
 	});

 	$('#currency').hide();
 	var sessioncurrency=$('#currency').attr('data-currency');
 	$('.filter-sort').select2({
   		 minimumResultsForSearch: -1
	});

  $(function() {
 	var currency=$('#currency').html();

 	if(sessioncurrency=='USD'){
 		var maxrange='1000';
 	}else if(sessioncurrency=='INR'){
 		var maxrange='60000';
 	}

 	$('#maximum').val(maxrange);
	 	$( "#price-slider-range" ).slider({
	      range: true,
	      min: 0,
	      max: maxrange,
	      values: [0, maxrange ],
	      slide: function( event, ui ) {
	        $( "#amount" ).html( currency + ui.values[ 0 ] + " - "+currency + ui.values[ 1 ] );
	        $('#minimum').val(ui.values[ 0 ]);
	        $('#maximum').val(ui.values[ 1 ]);
	      },
	      change: function( event, ui ) {
	        update_list();
	      }
	    });

	    $( "#amount" ).html( currency + $( "#price-slider-range" ).slider( "values", 0 ) +
	      " - "+currency + $( "#price-slider-range" ).slider( "values", 1 ) );
  });

  function update_list(){
 		var catid=$('#filter_category').val();
 		var min=$('#minimum').val();
        var max=$('#maximum').val();
        var q = $('#search').val();
        var sort = $('#sort').val();
		// send ajax request for filter
		var action_url= window.base_url+"/freelance-services";
		action_url = action_url +'?ajax=true&q='+q+'&sort='+sort+'&category='+catid+'&currency='+sessioncurrency+'&pmin='+min+'&pmax='+max;

					ga('send', 'pageview', action_url);
		
			$.ajax({
		      type: 'GET',
		      url:action_url,
		      datatype: "html",
				success: function(response){
		          	$('.jobbox').html(response);
		          	$("img.lazy").lazyload();
				}
		    });
		return false;
 	}
});
</script>
</section>


<script src="assets/tl-min/0da502cefa595bdb196cd6b808a519246974.js?103" type="text/javascript"></script>
<section>
</section>
<section>

<footer class="section-padding">
<div class="container-fluid">
<div class="row">
<div class="col-md-1 col-sm-6"></div>
<div class="col-md-2 col-sm-6">
<div class="ft-block">
<h4> Useful links </h4>
<div class="hr-line"></div>
<div class="ft-links">
<div>
<select id="currency-updater" class="form-control currency" style="width:80px; display:inline-block">
<option value="USD" selected>USD</option>
<option value="INR">INR</option>
</select>
</div>
<div><br></div>
<script>

$(document).ready(function(){

	$('#currency-updater').change(function()
	{
		var currency = $('#currency-updater').val();

		updateSessionCurrency(currency, function(){
			window.location.reload();
		}, function(response){
			alert(response.message);
		});
	});

});

function updateSessionCurrency(currency, successCallback, errorCallback)
{
	var action_url= window.base_url+"/ajax/currency";

	$.ajax({
		type: 'GET',
		url:action_url,
		data:{currency:currency},
		datatype: "json",
		success: function(response){
			if (response.status == 1) {
				successCallback(response);
			}else {
				errorCallback(response);
			}
		},
		error : function(response) {
			errorCallback(response);
		}
	});

	return false;
}
</script>
<a href="mobile-appf7b7.html?source=website_footer">Mobile App</a>
<a href="rewardsf7b7.html?source=website_footer">Startups</a>
<a href="primef7b7.html?source=website_footer">Truelancer Prime</a>
<a href="affiliatef7b7.html?source=website_footer">Affiliate</a>
</div>
</div>
</div>
<div class="col-md-2 col-sm-6">
<div class="ft-block">
<h4>Company </h4>
<div class="hr-line"></div>
<div class="ft-links">
<a href="careersf7b7.html?source=website_footer">Careers</a>
<a href="contactf7b7.html?source=website_footer">Contact Us</a>
<a href="aboutf7b7.html?source=website_footer">About Us</a>
<a href="pressf7b7.html?source=website_footer">Press</a>
<a href="blog/indexf7b7.html?source=website_footer">Blog</a>
</div>
</div>
</div>
<div class="col-md-2 col-sm-6">
<div class="ft-block">
<h4> Information </h4>
<div class="hr-line"></div>
<div class="ft-links">
<a href="fee-chargesf7b7.html?source=website_footer">Fee and Charges</a>
<a href="cancellations-refundsf7b7.html?source=website_footer">Cancellations & Refunds</a>
<a href="terms-servicef7b7.html?source=website_footer">Terms & Conditions</a>
<a href="privacy-policyf7b7.html?source=website_footer">Privacy Policy</a>
<a href="faqf7b7.html?source=website_footer">FAQ & Useful Links</a>
<a href="legal/membership-policyf7b7.html?source=website_footer">Membership Policy</a>
</div>
</div>
</div>
<div class="col-md-2 col-sm-6">
<div class="ft-block">
<h4> Content Writers</h4>
<div class="hr-line"></div>
<div class="ft-links">
<a href="content-writing-freelancersf7b7.html?source=website_footer">Content Writers</a>
<a href="academic-writing-freelancersf7b7.html?source=website_footer">Academic Writers</a>
<a href="blog-writing-freelancersf7b7.html?source=website_footer">Blog Writers</a>
<a href="technical-writing-freelancersf7b7.html?source=website_footer">Technical Writers</a>
<a href="copywriting-freelancersf7b7.html?source=website_footer">Copywriters</a>
<a href="seo-writing-freelancersf7b7.html?source=website_footer">SEO Writers</a>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="ft-block">
<h4>Freelancers</h4>
<div class="hr-line"></div>
<div class="ft-links">
<a href="freelancers-in-india.html">Freelancers in India</a>
<a href="freelancers-in-usa.html">Freelancers in USA</a>
<a href="freelancers-in-united-kingdom.html">Freelancers in UK</a>
<a href="freelancers-in-philippines.html">Freelancers in Philippines</a>
<a href="freelancers-in-pakistan.html">Freelancers in Pakistan</a>
<a href="freelancers-in-bangladesh.html">Freelancers in Bangladesh</a>
</div>
</div>
</div>
</div>
<div class="row top-lmspace">
<div class="col-md-1 col-sm-6"></div>
<div class="col-md-2 col-sm-6">
<div class="ft-block">
<h4> Freelance Jobs</h4>
<div class="hr-line"></div>
<div class="ft-links">
<a href="freelance-content-writing-jobs.html">Freelance Writing Jobs</a>
<a href="freelance-graphic-design-jobs.html">Graphic Design Jobs</a>
<a href="freelance-data-entry-jobs.html">Data Entry Jobs</a>
<a href="freelance-virtual-assistant-jobs.html">Virtual Assistant Jobs</a>
<a href="freelance-customer-service-jobs.html">Customer Service Jobs</a>
</div>
</div>
</div>
<div class="col-md-2 col-sm-6">
<div class="ft-block">
<h4> Online Jobs</h4>
<div class="hr-line"></div>
<div class="ft-links">
<a href="freelance-jobs.html">Work from Home Jobs</a>
<a href="freelance-jobs.html">Part Time Jobs</a>
<a href="freelance-interior-design-jobs.html">Interior Design Jobs</a>
<a href="freelance-voiceover-jobs.html">Voice Over Jobs</a>
<a href="freelance-translation-jobs.html">Translator Jobs</a>
<a href="freelance-accounting-jobs.html">Accounting Jobs</a>
</div>
</div>
</div>
<div class="col-md-2 col-sm-6">
<div class="ft-block">
<h4> Freelancers</h4>
<div class="hr-line"></div>
<div class="ft-links">
<a href="logo-design-freelancers.html">Logo Designers</a>
<a href="website-design-freelancers.html">Web Designer</a>
<a href="website-development-freelancers.html">Web Developer</a>
<a href="seo-freelancers.html">SEO Consultant</a>
<a href="android-app-development-freelancers.html">Android Developer</a>
<a href="ios-development-freelancers.html">IOS Developer</a>
</div>
</div>
</div>
<div class="col-md-2 col-sm-6">
<div class="ft-block">
<h4>Developers</h4>
<div class="hr-line"></div>
<div class="ft-links">
<a href="frontend-development-freelancers.html">Front End Developer</a>
<a href="freelancers409b.html?q=backend+developer">Backend Developer</a>
<a href="php-freelancers.html">PHP Developer</a>
<a href="wordpress-freelancers.html">Wordpress Developer</a>
<a href="java-freelancers.html">Java Developer</a>
<a href="api-development-freelancers.html">API Developer</a>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="ft-block">
<h4>Translation</h4>
<div class="hr-line"></div>
<div class="ft-links">
<a href="translation-english-spanish-freelancers.html">English to Spanish Translation</a>
<a href="translation-german-english-freelancers.html">German to English Translation</a>
<a href="translation-english-hindi-freelancers.html">English to Hindi Translation</a>
<a href="translation-english-tamil-freelancers.html">English to Tamil Translation</a>
<a href="translation-english-french-freelancers.html">English to French Translation</a>
<a href="translation-spanish-english-freelancers.html">Spanish to English Translation</a>
<a href="translation-german-english-freelancers.html">German to English Translation</a>
</div>
</div>
</div>
</div>
</div>
</footer>
<div class="footer-bottom">
<div class="container">
<div class="col-lg-4">
<div class="ft-logo">
<img src="../static.truelancer.com/truelancer-logo-dark-background_small.png" class="img-fluid" />
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="ft-app-store">
<a href="https://play.google.com/store/apps/details?id=com.truelancer.app&amp;referrer=utm_source%3Dlaunch%26utm_medium%3Dsite_footer">
<img src="assets/home_v/images/google-play-store.png" id="google" class="img-fluid" />
</a>
<a href="https://itunes.apple.com/us/app/search-jobs-hire-freelancer/id1142111951">
<img src="assets/home_v/images/apple-app-store.png" id="apple" class="img-fluid" />
</a>
</div>
</div>
<div class="col-lg-4 col-md-6">
<ul class="ft-social">
<li>
<a href="https://www.facebook.com/truelancerofficial" class="facebook">
<i class="fa fa-facebook"></i>
</a>
</li>
<li>
<a href="https://www.twitter.com/truelancer_" class="twitter">
<i class="fa fa-twitter"></i>
</a>
</li>
<li>
<a href="https://www.linkedin.com/company/truelancer" class="linkedin">
<i class="fa fa-linkedin"></i>
</a>
</li>
</ul>
</div>
</div>
</div>
<div class="ft-copyright">
<div class="container text-xs-center">
<p> Copyright &copy; 2021 | Truelancer.com </p>
</div>
</div>

<div class="realtime_notify_template" style="display:none;">
<div class="realtime_notify">
<div class="panel">
<i class="fa fa-times pull-right"></i>
<div class="panel-body message">
</div>
</div>
</div>
</div>
</section>
<script type="text/javascript">
function socketClose(){
    if(window.sess_uid != "" || window.sess_uid != undefined){
        socket.close();
    }
}

function socketOpen(){
    if(window.sess_uid != "" || window.sess_uid != undefined){
        socket.open();
        //console.log("window focus socket for userId " + window.sess_uid);
        if(window.page == "pg_workstream"){
            var lastinteractionid = $( ".interaction_box" ).last().attr('data-wsinid');
            var action_url= window.base_url+"/ajax/getlatestinteraction";
            $.ajax({
                type: 'POST',
                url:action_url,
                data:{wsinid:lastinteractionid},
                datatype: "html",
                success: function(response){
                    $('#replybox').before(response.html);
                }
            });
        }
        for(var i = 0;i < popups.length;i++){
            var chatboxdetails = popups[i];
            var details = chatboxdetails.split('_');
            var workstreamid = details[1];
            var senderid = $('#'+chatboxdetails).attr('data-selfid');
            var receiverid = $('#'+chatboxdetails).attr('data-otherid');
            $('#messages_chatbox_'+details[1]).html('');
            getworkstream_interations(workstreamid,senderid,receiverid);
            console.log('workstreamid',workstreamid,senderid,"selfid");
        }
        
        if(window.page == "job_page" && window.sess_uid == window.job_uid){
            $('#get_allproposals').click();
        }
    }
}


var visibility = (function(){
    var stateKey, 
    eventKey, 
    keys = {
        hidden: "visibilitychange",
        webkitHidden: "webkitvisibilitychange",
        mozHidden: "mozvisibilitychange",
        msHidden: "msvisibilitychange"
    };
    for(stateKey in keys){
        if(stateKey in document){
            eventKey = keys[stateKey];
            break;
        }
    }
    return function(c){
        if (c) document.addEventListener(eventKey, c);
        return !document[stateKey];
    }
})();


visibility(function(){    
    if(visibility()){
        socketOpen();                                       
    }else{
       socketClose();
    }
});

var notIE = (document.documentMode === undefined),
isChromium = window.chrome;    
if(notIE && !isChromium){
    // checks for Firefox and other  NON IE Chrome versions
    // $(window).on("focusin", function(){ 
    //   socketOpen();
    // }).on("focusout", function(){
    //     socketClose();
    // });
}else{
    // checks for IE and Chromium versions
    if(window.addEventListener){
        // bind focus event
        window.addEventListener("focus", function(event){
           socketOpen();
        }, false);
        // bind blur event
        window.addEventListener("blur", function(event){
            socketClose();
        }, false);
    }else{
        // bind focus event
        window.attachEvent("focus", function(event){
           socketOpen();
        });
        // bind focus event
        window.attachEvent("blur", function(event){
           socketClose();
        });
    }
}
</script>
<script type="text/javascript">
$(document).on('click', 'body', function(){
    $('.jobfeed').hide('slow');
    $("html, body").css("overflow", "visible");
});
</script>
<script src="assets/scripts/jquery.googleanalytics.min.js"></script>

<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 961713630;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="../www.googleadservices.com/pagead/f.txt">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/961713630/?guid=ON&amp;script=0"/>
</div>
</noscript>
</body>

<!-- Mirrored from www.truelancer.com/freelance-services by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Mar 2021 04:24:34 GMT -->
</html>
