<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Meet Proffesional Service Providers, Hire Freelancers & Find Freelance Jobs Online - PyeramidSignature </title>
<meta name="description" content="Hire Freelancers & Find Freelance Jobs Online. Hire Freelancers in Nigeria, Ghana, South-Africa, USA, UK, Bangladesh, Philippines. Hire Skilled Professionals, Consultants, Contractors " />
<meta property="og:type" content="website" />
<meta property="og:title" content="Hire Proffesional Service Providers, Freelancers & Find Freelance Jobs Online - Pyeramid Signature " />
<meta property="og:description" content=" Hire Proffesional Service Providers, Freelancers & Find Freelance Jobs Online. Hire Freelancers in Nigeria, Ghana, South-Africa, India, USA, UK, Bangladesh, Philippines. Hire Skilled Professionals, Consultants, Contractors " />
<meta property="og:url" content="index.ejs" />
<meta property="og:site_name" content="Pyeramids.herokuapp.com" />

<link rel="stylesheet" type="text/css" href="assets/home_v/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="assets/home_v/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="assets/home_v/css/new-style2.css" />
<link rel="stylesheet" type="text/css" href="assets/home_v/css/animate.css" />
<link rel="stylesheet" type="text/css" href="assets/home_v/css/et-line.css" />
<link rel="stylesheet" type="text/css" href="assets/home_v/css/responsive.css" />
<link rel="stylesheet" type="text/css" href="assets/home_v/css/owl.carousel.css" />
<link rel="stylesheet" type="text/css" href="assets/home_v/css/owl.theme.default.css" />
<link rel="stylesheet" type="text/css" href="assets/home_v/css/owl.theme.green.css" />
<script src="../cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">


</head>
<body>
<header class="fixed-header large">
<div class="container">
<a href="index.html" class="logo TL-white float-xs-left">
<img src="assets/images/lolo.png" alt="PyeramidSignature - Meet Proffesional Service Providers, Hire Freelancer & Find Freelance Jobs" class="d-inline-block" />
</a>
<a href="javascript://" class="navbar-toggler hidden-lg-up float-xs-right" data-toggle="collapse" data-target="#navCollapse" aria-controls="navCollapse" aria-expanded="false" aria-label="Toggle navigation">
<span class="fa fa-bars"></span>
</a>
<div class="collapse navbar-toggleable-md float-md-right" id="navCollapse">
<ul class="nav navbar-nav">
<li class="nav-item">
<a href="https://ruger.herokuapp.com/" class="btn btn-info btn-round">Register as a service provider</a>
</li>
</ul>
</div>
</div>
</header>
<div class="clearfix"></div>
<div id="bootstrap-touch-slider" class="carousel bs-slider slide gradient-bg-1  control-round indicators-line" data-ride="carousel" data-interval="5000" data-pause="false">
<div class="container pos-abs">
<ol class="carousel-indicators">
<li data-target="#bootstrap-touch-slider" data-slide-to="1" class="active"></li>

</ol>
</div>
<div class="carousel-inner" role="listbox">
<div class="carousel-item active">
<div class="container">
<div class="row">
<div class="col-md-6">
<div class="divTable">
<div class="divTableCell text-sm-left animateText sldText">
<h2 data-animation="animated fadeInLeft" class="fw-400 text01">
Join the fastest innovative train
</h2>
<h2 data-animation="animated fadeInLeft" class="fw-400 text02">
Of the Smartest
</h2>
<h2 data-animation="animated fadeInLeft" class="fw-400 text03">
Creative disruption.
</h2>
<br />
<p data-animation="animated fadeInLeft" class="pd-80 text04">
Build & scale with the world’s best remote Talent.
</p>
<br />
</div>
</div>
</div>
<img src="assets/images/ccc.jpg" data-animation="animated fadeInright" class="animateImg hdr-Sldr-img" alt="freelancer for startups" />
</div>
</div>
</div>

<div class="carousel-item">
<div class="container">
<div class="row">
<div class="col-md-6">
<div class="divTable">
<div class="divTableCell text-sm-left animateText sldText">
<h2 data-animation="animated fadeInLeft" class="fw-400 text01">
Hire Top talent
</h2>
<h2 data-animation="animated fadeInLeft" class="fw-400 text02">
across the Globe
</h2>
<h2 data-animation="animated fadeInLeft" class="fw-400 text03">
with Truelancer Prime
</h2>
 <br />
<p data-animation="animated fadeInLeft" class="pd-80 text04">
Collaborate easily with your Remote team of Experts spread across the Globe. Know more about <a href="prime.html" class="link">
Truelancer Prime
</a>
</p>
</div>
</div>
</div>
<img src="https://assets.truelancer.com/assets/home_v/images/team-connect.webp" data-animation="animated fadeInright" class="animateImg hdr-Sldr-img" alt="hire freelance worker, remote employee" />
</div>
</div>
</div>
</div>
<a class="carousel-control-prev" href="#bootstrap-touch-slider" role="button" data-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#bootstrap-touch-slider" role="button" data-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>
<div class="clearfix"></div>

<div class="fourServices section-padding" id="recent">
<div class="container text-xs-center">
<h1 class="uppr bold">WHAT TO EXPLORE</h1>
<div class="divider mb-30">
<div class="hr-line"></div>
</div>
<div class="clearfix"></div>
<div class="row">
<div class="col-lg-4 col-md-6">
<div class="fourBlock text-xs-center blue-color">
  <h4 class="bold">
    NEED A LEGAL CONSULTATION
    </h4>
<h4 class="bold">
Report Case
</h4>
<div class="divider">
<div class="hr-line"></div>
</div>
<p>
Report a case and we will pair you with the best legal practitioner.
</p>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="fourBlock text-xs-center blue-color">
  <h4 class="bold">
    SEEK A QUIICK MEDICAL SESSION?
</h4>
<h4 class="bold">
    Book an appointment
</h4>
<div class="divider">
<div class="hr-line"></div>
</div>
<p>
Book an appointment in 1.7658secs and see a doctor at your own convinience.
</p>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="fourBlock text-xs-center blue-color">
  <h4 class="bold">
    BOOK A COUNSELLING SESSION
    </h4>
<h4 class="bold">
Its totally free
</h4>
<div class="divider">
<div class="hr-line"></div>
</div>
 <p>
We have a team of bahd guy motivational and inspirational speakers that can attemp to stop your foolish self from commiting suicide.
</p>
</div>
</div>
</div>
</div>
</div>

<div class="secThree section-padding">

<div class="container">
<div class="row">
<div class="col-md-8">
<div class="divSecBlock">
<div class="icn-box">
<i class="icn icon-lock"></i>
</div>
<div class="content">
<h3>Pyeramid Safe deal</h3>
<p>
Pyeramid acts an escrow until the job is completed & approved by you.
</p>
</div>
</div>
<div class="divSecBlock">
<div class="icn-box">
<i class="icn icon-lifesaver"></i>
</div>
<div class="content">
<h3>24/7 support</h3>
<p>
Pyeramid Support team are always there to help out with any kind of difficulty.
</p>
</div>
</div>
<div class="divSecBlock">
<div class="icn-box">
<i class="icn icon-happy"></i>
</div>
<div class="content">
<h3>Customer Satisfaction</h3>
<p>
We Guarantee customer satisfaction as all service providers are licensed based on ethic.
</p>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="sixServices section-padding">

<div class="container">
<div class="row">
<div class="col-lg-4 col-md-6">
<a href="https://signaturepay.herokuapp.com/" class="ssBox">
<div class="ssTable-hvr">
<div class="ssTableCell-hvr">
<p>
  Meet creative graphic designers through the signature
</p>
</div>
</div>
<div class="ssTable">
<div class="ssTableCell">
<div class="ssIcn">
<i class="icon-gears"></i>
</div>
<div class="ssName">
<h4>
Graphic designers
</h4>
</div>
</div>
</div>
<img src="assets/img/001.jpg" class="img-fluid ssImg" alt="hire freelancer developer" />
</a>
</div>
<div class="col-lg-4 col-md-6">
<a href="https://signaturepay.herokuapp.com/" class="ssBox">
<div class="ssTable-hvr">
<div class="ssTableCell-hvr">
<p>
Legal interpretation? consult with one of the best
</p>
</div>
</div>
<div class="ssTable">
<div class="ssTableCell">
<div class="ssIcn">
<i class="icon-tools"></i>
</div>
<div class="ssName">
<h4>
Legal interpretation
</h4>
</div>
</div>
</div>
<img src="assets/img/002.jpg" class="img-fluid ssImg" alt="hire freelancer designers" />
</a>
</div>
<div class="col-lg-4 col-md-6">
<a href="https://signaturepay.herokuapp.com/" class="ssBox">
<div class="ssTable-hvr">
<div class="ssTableCell-hvr">
<p>
Let our freenlancers translate your document with just a signature
</p>
</div>
</div>
<div class="ssTable">
<div class="ssTableCell">
<div class="ssIcn">
<i class="icon-pencil"></i>
</div>
<div class="ssName">
<h4>
Language and document translation
</h4>
</div>
</div>
</div>
<img src="assets/img/003.jpg" class="img-fluid ssImg" alt="hire freelancer writers" />
</a>
</div>
<div class="col-lg-4 col-md-6">
<a href="https://signaturepay.herokuapp.com/" class="ssBox">
<div class="ssTable-hvr">
<div class="ssTableCell-hvr">
<p>
Get a responsive website with just a tip
</p>
</div>
</div>
<div class="ssTable">
<div class="ssTableCell">
<div class="ssIcn">
<i class="icon-magnifying-glass"></i>
 </div>
<div class="ssName">
<h4>
WebSite Design/development
</h4>
</div>
</div>
</div>
<img src="assets/img/004.jpg" class="img-fluid ssImg" alt="hire freelancer seo consultants" />
</a>
</div>
<div class="col-lg-4 col-md-6">
<a href="https://signaturepay.herokuapp.com/" class="ssBox">
<div class="ssTable-hvr">
<div class="ssTableCell-hvr">
<p>
The dope content does the most introduction, meet a creative creator.
</p>
</div>
</div>
<div class="ssTable">
<div class="ssTableCell">
<div class="ssIcn">
<i class="icon-linegraph"></i>
</div>
<div class="ssName">
<h4>
Content creation
</h4>
</div>
</div>
</div>
<img src="assets/img/005.jpg" class="img-fluid ssImg" alt="hire freelancer digital marketing" />
</a>
</div>
<div class="col-lg-4 col-md-6">
<a href="https://signaturepay.herokuapp.com/" class="ssBox">
<div class="ssTable-hvr">
<div class="ssTableCell-hvr">
<p>
Get your product/services to the creeks with just a signature today
</p>
</div>
</div>
<div class="ssTable">
<div class="ssTableCell">
<div class="ssIcn">
<i class="icon-phone"></i>
</div>
<div class="ssName">
<h4>
Digital marketing
</h4>
</div>
</div>
</div>
<img src="assets/img/006.jpg" class="img-fluid ssImg" alt="hire freelancer mobile app developers" />
</a>
</div>
</div>
</div>
</div>

<div class="stayConnect">

<div class="container">
<div id="bs-Mobilesect" class="stayCNsLDR carousel slide" data-ride="carousel" data-interval="5000" data-pause="false">
<div id="smart-button-container">
  <div style="text-align: center;">
    <div id="paypal-button-container"></div>
  </div>
</div>


<div class="col-md-6 offset-md-1 appDwnPos clearfix">
</div>
</div>
</div>
</div>
<div class="primeSect section-padding">

<div class="container">
<div class="row">
<div class="col-md-8 hidden-md-up">

</div>
<div class="col-md-4">

<div class="prmBlock">
<div class="PolygunIcn">
<img src="assets/img/signa.png" class="img-fluid" />
</div>
<div class="prm-content">
<h4>Pyeramid Signature</h4>
<p>
  “Emotion is ‘recognition’.</br> When treasured moments are identified in the jungle of our</br> personal history during a visual </br>or aural encounter, we capture </br>magic sparks from our past, </br>arousing flashes of insight and revealing an inner flare. These</br> instants of recognition may kindle enthralling emotion and fulfilling inspiration. </br>(“Those journeys of love”)”
</br>― Erik Pevernagie

</div>
</div>

</div>
<div class="col-md-8 hidden-sm-down">
<div class="prmImgBox">
<div class="prmTable">
<div class="prmTableCell">
<h3>Together, We can engineer a new era, while you render a selfeless but relevant service to a grateful community, we will eventually become a force ready to positively and creatively disrupt systems for better living. lets harness the fullest potential of p2p</h3>
<h4>
  “Normal is where innovation goes to die.”
</h4>
<a href="https://ruger.herokuapp.com/" class="btn btn-round btn-white grey-color">
Board now
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>



<div class="footer-bottom">
<div class="container">
<div class="col-lg-4">
<div class="ft-logo">
<img src="assets/images/IAO.png" class="img-fluid" />
</div>
</div>
<div class="col-lg-4 col-md-6">
</div>
<div class="col-lg-4 col-md-6">
<ul class="ft-social">
<li>
<a href="https://web.facebook.com/pyeramid" class="facebook">
<i class="fa fa-facebook"></i>
</a>
</li>
<li>
<a href="https://twitter.com/pyeramid" class="twitter">
<i class="fa fa-twitter"></i>
</a>
</li>
</ul>
</div>
</div>
</div>
<div class="ft-copyright">
<div class="container text-xs-center">
<p> Copyright &copy; 2021 | Pyeramid </p>
</div>
</div>

<div class="realtime_notify_template" style="display:none;">
<div class="realtime_notify">
<div class="panel">
<i class="fa fa-times pull-right"></i>
<div class="panel-body message">
</div>
</div>
</div>
</div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/961713630/?guid=ON&amp;script=0"/>
</div>
</noscript>
</body>

<!-- Mirrored from www.truelancer.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Mar 2021 04:19:19 GMT -->
</html>
